@import url('https://fonts.googleapis.com/css?family=Convergence&display=swap');
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.con1{
    background: url(background1.jpg) no-repeat center center black;
    
}

.row1{
    height: auto;
    text-align:  end;
}
.image{
    align-content: center;
}
.bg-black{
    background-color: black;
}
.text-left{
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #FFFFFF;
    mix-blend-mode: hard-light;
    
}
.body-text{
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: justify;

    color: #FFFFFF;
    margin-left: 0px;
    padding-right: 60px;
}
.body-text-1{
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: justify;

    color: #FFFFFF;
    margin-left: 0px;
    padding-right: 60px;
}
.body-text-2{
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: justify;

    color: #FFFFFF;
    margin-left: 0px;
    padding-left: 60px;
}
.body-text-3{
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: justify;

    color: #FFFFFF;
    margin-left: 0px;
    padding-left: 60px;
}
.hline{
    width: 100%;
    border: 1px solid white;
}
.body-pic{
    padding-left: 60px;
    padding-top:10px;
}
.body-pic-1{
    padding-left: 60px;
    padding-top:10px;
}
.last-row{
    padding-top:20px;
    padding-bottom: 10px;
}
.tw{
    padding-left: 10px;
}
.ig{
    padding-left: 20px;
}
.img{
    width: 320px;
}
@media screen and (max-width: 1440px){
    .text-left{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #FFFFFF;
        mix-blend-mode: hard-light;
    }
    .body-text{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
        
    }
    .body-text-1{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 80px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px   
    }
    .body-text-2{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 80px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-text-3{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 80px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-pic{
        padding-left: 25px;
        padding-top:10px;
    }
    .body-pic-1{
        padding-left: 25px;
        padding-top:10px;
    }
    .img{
        width: 300px;
    }
}
@media screen and (max-width: 1000px){
    .text-left{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #FFFFFF;
        mix-blend-mode: hard-light;
    }
    .body-text{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
        
    }
    .body-text-1{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 170px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px   
    }
    .body-text-2{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 80px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-text-3{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: justify;
        padding-left: 80px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-pic{
        padding-left: 25px;
        padding-top:10px;
    }
    .body-pic-1{
        padding-left: 25px;
        padding-top:10px;
    }
    .img{
        width: 300px;
    }
}
@media screen and (max-width: 767px){
    .text-left{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #FFFFFF;
        mix-blend-mode: hard-light;
    }
    .body-text{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:15px;
        padding-top: 10px
        
    }
    .body-text-1{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-text-2{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-text-3{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
    }
    .body-pic{
        padding-left: 25px;
        padding-top:10px;
    }
    .body-pic-1{
        padding-left: 25px;
        padding-top:10px;
    }
    .img{
        width: 260px;
    }
}
@media screen and (max-width: 300px){
    .text-left{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #FFFFFF;
        mix-blend-mode: hard-light;
    }
    .body-text{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:15px;
        padding-top: 10px
        
    }
    .body-text-1{
        font-family: Convergence;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        color: #FFFFFF;
        padding-right:50px;
        padding-top: 10px
        
    }
    .body-pic{
        padding-left: 25px;
        padding-top:10px;
    }
    .body-pic-1{
        padding-left: 25px;
        padding-top:10px;
    }
    .img{
        width: 220px;
    }
}
