<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>First Drip by heavenfreesta</title>
    <style>
    .con1{
         background: url("{% static 'images/background1.jpg' %}") no-repeat center center black;
    }
    </style>
</head>
<body>
    <div class="">
        <div class="container-fluid con1">
            <div class="row row2">
                <div class="text-center w-100" style="margin-top: 10rem;">
                    <img class="img-center image" src="{% static 'images/FIRST_DRIP.png' %}" style="width: 80%; object-fit: scale-down;">
                </div>
            </div>
            <div class="row row1">
                <div class="button p-4">
                        <div class="btn-group-vertical">
                                <a  href="{% url 'homepage:about' %}"><button type="button" class="btn btn-light ">ABOUT</button></a>
                                <a  href="{% url 'homepage:organizations' %}"><button type="button" class="btn btn-light ">ORGANIZATIONS</button></a>
                                <a  href="{% url 'homepage:educations' %}"><button type="button" class="btn btn-light ">EDUCATIONS</button></a>
                                <a  href="{% url 'homepage:experiences' %}"><button type="button" class="btn btn-light ">EXPERIENCES</button></a>
                                <a  href="{% url 'homepage:schedule' %}"><button type="button" class="btn btn-light ">SCHEDULES</button></a>
                            </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="">
        <div class="container-fluid bg-black">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left p-3">
                        <p>Organizations</p>
                    <div class="hline"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="body-pic-1">
                        <img class="img" src="{% static 'images/Gambar_RS2.png' %}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="body-text-1">
                        <p>Rumah Seni 2 (SMA Negeri 2 Bandung)</p>
                        <p> Ketua Div. Ansamble</p><br>
                        <p>SISTEM Fasilkom UI</p>
                        <p>Member of Entrepreneurship SIG</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="body-pic-2">
                        <img class="img" src="{% static 'images/Gambar_SISTEM.png' %}">
                    </div>
                </div>
            </div>
            <div class="row last-row">
                <div class="col-lg-9">
          
                </div>
                <div class="col-xs-1 fb">
                        <div class="facebook">
                            <a href="https://www.facebook.com/akhmad.dw">
                            <img src="{% static 'images/FC.png' %}"></a>
                        </div>
                    </div>
                    <div class="col-xs-1 tw">
                        <div class="twitter">
                            <a href="https://www.twitter.com/akhmadiponegoro">
                            <img src="{% static 'images/TW.png' %}"></a>
                        </div>
                    </div>
                    <div class="col-xs-1 ig">
                        <div class="insta">
                            <a href="https://www.instagram.com/akhmadiponegoro/">
                            <img src="{% static 'images/IG.png' %}"></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>